<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AdminDAO</servlet-name>
        <servlet-class>dao.AdminDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AppointmentDAO</servlet-name>
        <servlet-class>dao.AppointmentDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InstructorDAO</servlet-name>
        <servlet-class>dao.InstructorDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentDAO</servlet-name>
        <servlet-class>dao.StudentDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VehicleDAO</servlet-name>
        <servlet-class>dao.VehicleDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin</servlet-name>
        <servlet-class>model.Admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentRegisterServlet</servlet-name>
        <servlet-class>StudentRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLoginServlet</servlet-name>
        <servlet-class>AdminLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InstructorRegisterServlet</servlet-name>
        <servlet-class>InstructorRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InstructorUpdateServlet</servlet-name>
        <servlet-class>InstructorUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteInstructorServlet</servlet-name>
        <servlet-class>DeleteInstructorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentUpdateServlet</servlet-name>
        <servlet-class>StudentUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AppointmentAddServlet</servlet-name>
        <servlet-class>AppointmentAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AppointmentUpdateServlet</servlet-name>
        <servlet-class>AppointmentUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AppointmentDeleteServlet</servlet-name>
        <servlet-class>AppointmentDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VehicleAddServlet</servlet-name>
        <servlet-class>VehicleAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VehicleUpdateServlet</servlet-name>
        <servlet-class>VehicleUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VehicleDeleteServlet</servlet-name>
        <servlet-class>VehicleDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InstructorLoginServlet</servlet-name>
        <servlet-class>InstructorLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteStudentServlet</servlet-name>
        <servlet-class>DeleteStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AppointmentEnrollServlet</servlet-name>
        <servlet-class>AppointmentEnrollServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AppointmentRescheduleServlet</servlet-name>
        <servlet-class>AppointmentRescheduleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AppointmentCompleteServlet</servlet-name>
        <servlet-class>AppointmentCompleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StudentRegisterServlet</servlet-name>
        <url-pattern>/StudentRegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>StudentLoginServlet</servlet-name>
        <servlet-class>StudentLoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StudentLoginServlet</servlet-name>
        <url-pattern>/StudentLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLoginServlet</servlet-name>
        <url-pattern>/AdminLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InstructorRegisterServlet</servlet-name>
        <url-pattern>/InstructorRegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InstructorUpdateServlet</servlet-name>
        <url-pattern>/InstructorUpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteInstructorServlet</servlet-name>
        <url-pattern>/DeleteInstructorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentUpdateServlet</servlet-name>
        <url-pattern>/StudentUpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AppointmentAddServlet</servlet-name>
        <url-pattern>/AppointmentAddServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AppointmentUpdateServlet</servlet-name>
        <url-pattern>/AppointmentUpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AppointmentDeleteServlet</servlet-name>
        <url-pattern>/AppointmentDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VehicleAddServlet</servlet-name>
        <url-pattern>/VehicleAddServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VehicleUpdateServlet</servlet-name>
        <url-pattern>/VehicleUpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VehicleDeleteServlet</servlet-name>
        <url-pattern>/VehicleDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InstructorLoginServlet</servlet-name>
        <url-pattern>/InstructorLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteStudentServlet</servlet-name>
        <url-pattern>/DeleteStudentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AppointmentEnrollServlet</servlet-name>
        <url-pattern>/AppointmentEnrollServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AppointmentRescheduleServlet</servlet-name>
        <url-pattern>/AppointmentRescheduleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AppointmentCompleteServlet</servlet-name>
        <url-pattern>/AppointmentCompleteServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
